recordings/dog.wav recordings/donkey.wav recordings/flop.wav recordings/frog.wav recordings/froggie recordings/gurd recordings/hurd recordings/hurdy recordings/lukesalad recordings/mush.wav recordings/output.wav recordings/train.wav
